{% extends 'layouts/main.html' %}
{% block title %}Calendar{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Calendar for {{ habitname }}</h1>
  <div id="calendar">
    <link rel="stylesheet" href="/static/css/cal-heatmap.css" />
    <script type="text/javascript" src="/static/js/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/cal-heatmap.min.js"></script>
    <table>
      <thead>
        <tr>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>

        {% for line in log %}
	<tr>
	  <td>{{ line.log_time }} </td>
	</tr>
        {% endfor %}
    </table>
    <div id="cal-heatmap"></div>
    <script type="text/javascript">
      var cal = new CalHeatMap();
      cal.init({
	// FIXME: Don't use hardcoded date
	start: new Date(2022, 0),
	range: 1,
	domain: "year",
	subDomain: "day",
	data: "/log/{{ habit_id }}"
      });
    </script>
  </div>

  <div id="new_habit">
    <form action = "{{request.path}}" method="post">
      <label for="habit">Habit</label><br>
      <input type="text" name="habit" placeholder="Habit" />
      <input type="submit" value="Submit">
    </form>

    {% endblock     %}
