{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Habits</h1>
  <div id="habit_streaks">
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      {% for habit in habits %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ habit.habitname }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
	      {{ streaks[habit.id] }}
	      <small class="text-muted fw-light">
		{% if streaks[habit.id] == 1 %}
		day
		{% else %}
		days
		{% endif %}
		in a row
	      </small>
	    </h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="incrementHabit({{ habit.id }})">
	      {% if streaks[habit.id] == 0 %}
		You can do better!
		{% else %}
		Keep going, champ!
		{% endif %}
	    </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="habit_list">
    <link rel="stylesheet" href="/static/css/cal-heatmap.css" />
    <script type="text/javascript" src="/static/js/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/cal-heatmap.min.js"></script>
    {% for habit in habits %}
    <div class="container-fluid" id="container-habit-{{ habit.id }}">
      <div class="row">
	<div class="col-sm" id="container-name-{{ habit.id }}">
	  <h2>Habit:
 	    <a href="/calendar/{{ habit.id }}">
	      {{ habit.habitname }}
	    </a>
	  </h2>
	</div>
	<div class="col-sm" id="container-habit-last-done-{{ habit.id }}">
	  <p>Last done:
	    {% if habit.log_time is not none %}
	    {{ habit.log_time.astimezone(local_timezone) }}
	    {% else %}
	    Never
	    {% endif %}
	  </p>
	  <p>Current streak: {{ streaks[habit.id] }}</p>
	</div>
	<div class="col-sm" id="container-delete-habit-{{ habit.id }}">
	  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-habit-{{ habit.id }}-Modal">
	    Delete this habit
	  </button>
	</div>
	<div class="modal fade" id="delete-habit-{{ habit.id }}-Modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="deleteModalLabel">Delete this habit?</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
		<p>
		  Are you sure you want to delete the habit
		  "{{habit.habitname }}" and all its logs?  This can't be
		  recovered afterward.
		</p>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, stop</button>
		<button type="button" class="btn btn-primary" onclick="deleteHabit({{ habit.id }})">Yes, delete it</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row gx-5">
	<div class="col-sm" id="log_{{ habit.habitname }}">
	  <button type="button" class="btn btn-primary" name="log"
		  onclick="incrementHabit({{ habit.id }})"
		  value="Log {{ habit.habitname }}">
	    Log
	  </button>
	</div>
      </div>
      <div class="row align-items-center">
	<div class="scrolling-wrapper col-sm gap-3" id="cal-heatmap-{{ habit.id }}"></div>
	<script type="text/javascript">
	 $(document).ready(function() {
	   showHeatMap({{ habit.id }});
	 });
	</script>
	{% endfor %}
      </div>
    </div>
  </div>

  <div id="new_habit">
    <form action="{{request.path}}" method="post">
      <label for="habit">Create a new habit</label><br>
      <input type="text" name="habit" placeholder="New Habit" />
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}
